    <header class="header">
        <div class="mbox">

            <div class="header-box cfix">
                <div class="convert-header">
                    <div class="user">
                        <div class="user-image"> <img src="images/header_user_logo.png" alt="" /> </div>
                        <div class="user-name"> User name </div>
                    </div>
                    <div class="convert-stats">
                        <div class="stats">
                            <div class="time-box">
                                <img src="images/header_logo_time.png" alt="" />
                                <div class="time"> 04:36:22 </div>
                            </div>
                            <div class="people-box">
                                <img src="images/header_logo_man.png" alt="" />
                                <div class="people"> 4 789  </div>
                            </div>
                        </div>
                    </div>
                    <div class="rating">
                        <p>РЕЙТИНГ</p>
                        <div class="convert-resurses">
                            <div class="resurses">
                                <a href="#buy-gold" class="button-plus buy-more-gold"></a>
                                <img src="images/header_logo_gold.png" alt="" />
                                <div class="gold"> 450 </div>
                            </div>
                            <div class="resurses">
                                <a href="#buy-silver" class="button-plus buy-more-silver"></a>
                                <img src="images/header_logo_silver.png" alt="" />
                                <div class="silver"> 673 </div>
                            </div>
                            <div class="resurses">
                                <a href="#buy-energy" class="button-plus buy-more-energy"></a>
                                <img src="images/header_logo_lighting.png" alt="" />
                                <div class="lighting"> 156 </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-PRO-convert">
                        <a href="#" class="button-push">
                            <div class="button-PRO"> <p> PREMIUM </p></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

