<div class="hidden-block">

    <!-- -->

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">

                <div class="call-title"> Вы уверенны?
                    <div class="call-subtitle">
                        <a href="#" class="button-accept">
                            <div class="button-push-confirm">Да</div>
                        </a>
                        <a href="#" class="button-not-accept">
                            <div class="button-push-confirm">Нет</div>
                        </a>
                    </div>
                </div>

                <div class="call-title call-title-message"></div>

            </div>
        </div>
    </div>

    <!-- / -->

    <!-- -->

    <div id="call-popup">
        <img src="images/421.gif" alt="">
    </div>

    <!-- / -->

    <!-- -->

    <div id="cart-open">

        <!-- here gona be added special card class -->

        <div class="cart-open">

        </div>

    </div>

    <!-- / -->

    <!-- -->

    <div id="swap-conteiner">

    </div>

    <!-- / -->

    <!-- -->

    <div id="choose-rase-block">
        <div class="conteiner-rase look-wrap cfix">
            <div class="afterloader">
                <img src="images/379.gif" alt="">
            </div>
            <div class="title-rase head-text"> Выберете расу</div>
            <ul>
                <li data-rase='rucari' >
                    <div class="image-conteiner">
                        <img src="images/ricari.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Рыцари</span>
                    </button>
                </li>
                <li data-rase='hozaeva'>
                    <div class="image-conteiner">
                        <img src="images/les.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Хозяева леса</span>
                    </button>
                </li>
                <li data-rase='prok'>
                    <div class="image-conteiner">
                        <img src="images/gorci.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Горцы</span>
                    </button>
                </li>
                <li data-rase='nech'>
                    <div class="image-conteiner">
                        <img src="images/proclyte.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Проклятые</span>
                    </button>
                </li>
                <li data-rase='gorcu'>
                    <div class="image-conteiner">
                        <img src="images/nechist.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Нечисть</span>
                    </button>
                </li>
                <li data-rase='monstru'>
                    <div class="image-conteiner">
                        <img src="images/monstr.png" alt="">
                    </div>
                    <button class="form-button button-buy-next" type="submit">
                        <span class="form-button-hover"></span>
                        <span class="form-button-text">Монстры</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- / -->

    <!-- -->

    <div id="buy-gold" class="buy-popup">
        <div class="buy-popup-wrap">
            <form action="buy_gold" class="buy-gold-form">
                <div class="buy-more-title">Покупка</div>
                <div class="form-row">
                    <div class="wrap-img">
                        <img src="images/header-logo-gold-big.png" alt="" />
                    </div>
                    <div class="input-wrap num-only" data-min=1 data-max=999>
                        <input type="text" name="buy_gold" value=1 required="required" />
                    </div>
                    <div class="submit-wrap">
                        <button type="submit">
                            <span>Купить</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- / -->

    <!-- -->

    <div id="buy-silver" class="buy-popup">
        <div class="buy-popup-wrap">
            <form action="buy_silver" class="buy-silver-form">
                <div class="buy-more-title">Обмен</div>
                <div class="form-row">

                    <div class="wrap-img">
                        <img src="images/header-logo-gold-big.png" alt="" />
                    </div>
                    <div class="input-wrap num-only-silver" data-min=1>
                        <input type="text" name="buy_silver" value="1" required="required" />
                    </div>

                    <div class="popup-line"></div>

                    <div class="wrap-img">
                        <img src="images/header-logo-silver-big.png" alt="" />
                    </div>
                    <div class="exchange-value" data-exchange-koof="2"></div>

                    <div class="submit-wrap">
                        <button type="submit">
                            <span>Купить</span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- / -->

    <!-- -->

    <div id="buy-energy" class="buy-popup">
        <div class="buy-popup-wrap excahnge-energy">

            <div class="buy-more-title">Обмен</div>

            <div class="exchange-row">

                <div class="exchange-row-left">
                    <div class="exchange-row-img">
                        <img src="images/header-logo-lighting-big.png" alt="" />
                    </div>
                    <div class="exchange-value-energy">100</div>
                </div>

                <div class="exchange-center"></div>

                <div class="exchange-row-right">

                    <div class="row-top extange-row-small">
                        <div class="excahge-row-img">
                            <img src="images/header-logo-gold-big.png" alt="" />
                        </div>
                        <div class="exchange-row-value">50</div>
                        <div class="excahnge-button">
                            <button class="exchange-button-main" data-type="gold" data-energy-count=100>
                                <span>Обменять</span>
                            </button>
                        </div>
                    </div>

                    <div class="row-bottom extange-row-small">
                        <div class="exchange-row-img">
                            <img src="images/header-logo-silver-big.png" alt="" />
                        </div>
                        <div class="excahnge-row-value">200</div>
                        <div class="exchange-button">
                            <button class="exchange-button-main" data-type="silver" data-energy-count=100>
                                <span>Обменять</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="exchange-row">

                <div class="exchange-row-left">
                    <div class="exchange-row-img">
                        <img src="images/header-logo-lighting-big.png" alt="" />
                    </div>
                    <div class="exchange-value-energy">200</div>
                </div>

                <div class="exchange-center"></div>

                <div class="exchange-row-right">

                    <div class="row-top extange-row-small">
                        <div class="excahge-row-img">
                            <img src="images/header-logo-gold-big.png" alt="" />
                        </div>
                        <div class="exchange-row-value">90</div>
                        <div class="excahnge-button">
                            <button class="exchange-button-main" data-type="gold" data-energy-count=200>
                                <span>Обменять</span>
                            </button>
                        </div>
                    </div>

                    <div class="row-bottom extange-row-small">
                        <div class="exchange-row-img">
                            <img src="images/header-logo-silver-big.png" alt="" />
                        </div>
                        <div class="excahnge-row-value">160</div>
                        <div class="exchange-button">
                            <button class="exchange-button-main" data-type="silver" data-count=200>
                                <span>Обмен</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- / -->

    <!-- -->

    <div id="exchange_error_gold" class="exchange-error">
        <h2>Недостаточно золота.</h2>
    </div>

    <!-- / -->

    <!-- -->

    <div id="exchange_error_silver" class="exchange-error">
        <h2>Недостаточно серебра.</h2>
    </div>

    <!-- / -->

    <!-- -->

    <div id="exchange_error_resourses" class="exchange-error">
        <h2>Недостаточно ресурсов.</h2>
    </div>

    <!-- / -->

    <!-- -->

    <div id="buy_effect" class="buy-effect">
        <div class="buy-effect-wrap">
            <div class="title-big">Покупка</div>
            <div class="title-small">Вы уверены что хотите купить <span></span> использований?</div>
            <div class="buy-effects-buttons">
                <div class="confirm-buy">
                    <a href="#" class="button-accept">
                        <span class="button-push-confirm">Купить</span>
                    </a>
                </div>
                <div class="denie-buy">
                    <a href="#" class="button-not-accept">
                        <span class="button-push-confirm">Отмена</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- / -->

</div>

