<div class="left-menu-wrapping">
    <div class="left-menu">
        <div class="left-menu-naviagation">
            <div class="left-menu-naviagation-wrap">
                <div class="nav-item">
                    <a href="#">
                        <span class="nav-item-wrap">
                            <span>Рейтинг игроков</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="#look-for-oponent" class="start-search-game">
                        <span class="nav-item-wrap">
                            <span>Играть</span>
                        </span>
                    </a>
                    <div class="nav-item-two">
                        <div class="nav-item-two_wrap">
                            <div class="nav-item">
                                <a href="#">
                                    <span class="nav-item-wrap">
                                        <span>Дуэль</span>
                                    </span>
                                </a>
                                <div class="nav-item-three">
                                    <div class="nav-item-three_wrap">
                                        <div class="nav-item">
                                            <a href="./deck.html">
                                                <span class="nav-item-wrap">
                                                    <span>Выбор калоды</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-item">
                                <a href="#">
                                    <span class="nav-item-wrap">
                                        <span>Играть с друзьями</span>
                                    </span>
                                </a>
                            </div>
                            <div class="nav-item disabled">
                                <a href="#">
                                    <span class="nav-item-wrap">
                                        <span>Командная игра</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">
                        <span class="nav-item-wrap">
                            <span>Мои карты</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="./market.html">
                        <span class="nav-item-wrap">
                            <span>Магазин</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="./market_effects.html">
                        <span class="nav-item-wrap">
                            <span>Волшебство</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="./settings.html">
                        <span class="nav-item-wrap">
                            <span>Настройки</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="./training.html">
                        <span class="nav-item-wrap">
                            <span>Обучение</span>
                        </span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="./login.html" class="log_out_menu">
                        <span class="nav-item-wrap">
                            <span>Выход</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="left-menu-bottom">
            <div class="left-menu-bottom-wrap">
                <div class="left-menu-img">
                    <img src="images/left-menu-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>