<div class="market-cards">
    <div class="market-cards-wrap">
        <div class="market-cards-items-wrap">
            <!--<div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-red.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-red.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-red.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>
            <div class="market-cards-item">
                <div class="market-cards-item-main">
                    <div class="market-cards-item-img"><img src="images/content-card-blue.png" alt=""></div>
                    <div class="market-card-item-price">ЦЕНА 250</div>
                    <div class="market-card-item-buy">
                        <a href="#" class="button-buy">КУПИТЬ</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>