<div class="market-cards">
    <div class="market-cards-wrap">
        <div class="market-cards-items-wrap effect-market-wrap">
			<table class="main-table">

				<tr>

					<th class="no-border"></th>
					<th></th>
					<th>Название</th>
					<th>Описание</th>
					<th>затраты энергии</th>
					<th colspan="2">
						<table>
							<tr>
								<th colspan="2">Цена</th>
							</tr>
							<tr>
								<th>Золото</th>
								<th>Серебро</th>
							</tr>
						</table>
					</th>
					<th>Статус</th>
					<th>Дата  окончания</th>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect1.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap done">
						<div class="market-status active"><span></span></div>
					</td>
					<td class="effect-date">11.01.2016 16:00</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect2.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect3.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status disabled" ><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect4.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status disabled"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect5.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap done">
						<div class="market-status active"><span></span></div>
					</td>
					<td class="effect-date">11.01.2016 16:00</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect6.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status "><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect7.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="effect-buy no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect8.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect9.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap done">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">11.01.2016 16:00</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect10.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect11.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect4.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect5.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap done">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">11.01.2016 16:00</td>

				</tr>

				<tr>

					<td class="no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect6.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="effect-buy no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect7.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>

				<tr>

					<td class="effect-buy no-border">
						<a href="#" class="button-plus"></a>
					</td>
					<td class="effect-img">
						<img src="images/effect8.png" alt="" />
					</td>
					<td class="effect-title">Исцеление</td>
					<td class="effect-descript">Отменяет действие всех негативных эффектов специальных карт</td>
					<td class="energy-effect">3</td>
					<td class="gold-tableCell">24</td>
					<td class="silver-tableCell">2 000</td>
					<td class="market-status-wrap">
						<div class="market-status"><span></span></div>
					</td>
					<td class="effect-date">-</td>

				</tr>
			</table>
        </div>
    </div>
</div>